.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar__show-menu-btn {
    width: 30px;
    height: 30px;
    margin-right: 100px;
    background-color: rgba(255, 255, 255, 0);
    background-image: url('./__pull-out-menu-btn/icon.png');
    border: none;
}

.navbar__search-input {
    width: 100%;
    height: 1.875em;
    visibility: hidden;
    margin-right: 100px;
    padding-left: 0.7em;
    padding-right: 0.7em;
    border: thin solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    font-size: 32px;
}

.navbar__search-input--visible {
    visibility: visible;
}

.navbar__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar__controls a {
    display: block;
    margin-bottom: 46px;
}

.navbar__controls img {
    object-fit: contain;
}

.navbar__basket-link {
    width: 30px;
    height: 30px;
}

.navbar__profile-link {
    width: 20px;
    height: 20px;
}

.navbar__saved-lists-link {
    width: 22px;
    height: 22px;
}

.navbar__search-btn {
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0);
    background-image: url('./__search-btn/search-icon.png');
    border: none;
}
 
