html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.bag-page {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1;
    grid-template-rows: 1;
    max-width: 1440px;
    width: 100vw;

}

.navbar-container, .menu-container, .bag-page__container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 2;   
}

.navbar-container {
    height: 235px;
    margin: 48px 45px 0 45px;
}

.menu-container {
    margin: 62px 0 0 70px;
}

.bag-page__container {
    display: grid;
    width: 100%;
    z-index: 1;
}

.bag-page__main {
  text-align: center;
}

.bag-page__title {
    display: flex;
    margin-top: 114px;
    margin-left: 14.5px;
    width: 91px;
    height: 289px;
    font-size: 65px;
    font-weight: 200;

    writing-mode: sideways-lr; 
}

.bag-page__title h1{
    padding: 0;
    font-size: 65px;
    font-weight: 200;
}


.footer-container {
    margin-top: 126px;
}