html {
    font-family: "Khula", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.bag-page {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1;
    grid-template-rows: 1;
    max-width: 1440px;
    width: 100vw;

}

.navbar-container, .menu-container, .bag-page__container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 2;   
}

.navbar-container {
    height: 235px;
    margin: 22px 20px 0 70px;
}

.menu-container {
    margin: 62px 0 0 70px;
}

.bag-page__container {
    width: 100%;
    z-index: 1;
}

.bag-page__header-title {
    margin-top: 200px;
    margin-left: 105px;
   transform: rotate(-90deg);
    transform-origin: left bottom;
    width: 289px;
    height: 91px;
    font-size: 65px;
    font-weight: 200;
}



.bag-page__main {
  text-align: center;
}

.footer-container {
    margin-top: 126px;
}