.footer__section {
    display: flex;
    justify-content: flex-start;
    gap: 91px;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;    
}

.footer__column {
    line-height: 234%;
}

.footer__section_socials {
    align-items: center;
    justify-content: space-between;
    margin-top: 147px;

}

.footer__list {
    list-style: none;
}

.footer__socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.footer__social-icon {
    width: 30px;
    height: 30px;
}

.footer__app-link {
    display: inline-flex;
    align-items: center;
    gap: 9px;
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

.footer__app-name {
    font-size: 20px;
    font-weight: 400;    
}
.footer__app-icon {
    width: 40px; 
    height: 40px;
}

.footer__title {
    font-weight: 400;  
    text-transform: uppercase;
}