html {
    font-family: "Khula", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.index-page {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1;
    grid-template-rows: 1;
    max-width: 1440px;
    width: 100vw;
}

.navbar, .index-page__hero, .index-page__main, .footer {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 1;
    width: 100%;   
}

.navbar {
    z-index: 2; 
    height: 235px;
    margin: 22px 20px 0 70px;  
}

.index-page__hero {
    margin-right: 70px;
    display: grid;
    grid-template-columns: 250px 220px auto;
    grid-template-rows: auto 129px;

}

.index-page__hero-img-wrapper{
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    width: 100%;
}

.index-page__hero-img {
    width: 100%;
}

.index-page__hero-title {
    padding-left: 112px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-family: "Megrim", sans-serif;
    font-size: clamp(2rem, 8.89vw, 8rem);
    font-weight: 500;
    color: #fff; 
}

.index-page__hero-subtitle {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding-top: 0.694em;
    padding-left: 0.372em;
    margin-left: 100%;
    transform: rotate(90deg);
    transform-origin: left top;
    font-family: "Roboto", system-ui;
    font-size: clamp(1rem, 12.5vw, 11.25rem);
    font-weight: 600;
    color: rgba(208, 208, 208, 0.6);      
}

.index-page__location {
    padding-left: 70px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.index-page__location-link{
    display: block;
    margin: 0 0 27px 0;
    font-family: "Roboto", system-ui;
    font-size: 19px;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.carousel {
    grid-column: 2 / 4;
    grid-row: 2 / 3; 
    display: flex;
    margin: 0 auto;
    width: 51.16%;
    align-items: center;
    justify-content: space-between;
}

.carousel__btn {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;      
}

.carousel__btn_prev {
    background-image: url('../images/btn_prev.png');
}

.carousel__btn_next {
    background-image: url('../images/btn_next.png');
}

.carousel__dot {
    width: 7px;
    height: 7px;
    margin: 0 3.66% 0 3.66%;
    background-color: rgba(208, 208, 208, 0.6);
    border-width: 0;
    border-radius: 50%;
}

.carousel__dot[active] {
    background-color: #fff;
}

.gallery {
    display: flex;
    margin-top: 4.79vw;
    margin-left: 18.75%;
    width: 72.66%;
    height: 39.24vw;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2.57%;
}

.gallery__photo {
    height: 100%;
    width: 49.32%;
    object-fit: fill;
}

.gallery__photo_second {
    width: 48.11%;
}

.about-store {
    margin: 7.15vw 15% 0 17.08%;
}

.about-store__title {
    font-size: 2rem;
    font-weight: 700;
}

.about-store__desc {
    margin-top: 30px;
}

.about-store__desc_first {
    margin-right: 18.92%;
}

.about-store__desc_second {
    margin-right: 22.80%;
}

.about-store__desc_third {
    margin-right: 26.79%;
}

.subscription {
    margin: 8.96vw 8.54% 0 18.75%;
    padding: 2.2em 0 3.15em 0;
    text-align: center;
    font-size: 20px;
    background-color: rgba(203, 203, 203, 0.2);
}

.subscription__title {
    font-size: 1.6em;
    font-weight: 700;
}

.subscription__desc {
    font-size: 13px;
    font-weight: 400;
    padding: 1.05em 0 1.05em 0;
}

.subscription__email, .subscription__submit {
    width: 10em;
    height: 3.25em;
    margin: 0 2.35em 1.6em 2.35em;
    font-size: 1em;
    text-align: center;
}


.subscription__email, .subscription__submit, .subscription__privacy {
    font-family: "Roboto", system-ui;
    font-weight: 300;
    color:  rgba(0, 0, 0, 0.64);
}

.subscription__submit {
    color:  #fff;
    background-color: #000;
}

.subscription__privacy {
    font-size: 8px;
    color: #828282;
}

.subscription__privacy-link {
    color: inherit;
    text-decoration-color: #D8D8D8;
}

.footer {
    margin: 126px 18.75% 0 18.06%;
}