.navbar-container {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pull-out-menu-btn, .basket-icon {
    height: 30px;
    width: 30px;
}

.profile-icon {
    height: 20px;
    width: 20px;
}

.favorites-icon {
    height: 22px;
    width: 22px;
}

.search-btn {
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
 
.pull-out-menu-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.search-catalog__input {
    visibility: hidden;
    margin: 0 100px 0 100px;
    padding-left: 0.7em;
    width: 100%;
    height: 1.875em;
    border: thin solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;

    font-size: 32px;
}

.search-catalog__input--visible {
    visibility: visible;
}
