html {
    font-family: "Khula", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.woman-page {
    display: grid;
    margin: 0 auto;
    width: min(100vw, 1440px);
    grid-template-columns: 244px minmax(0, 1fr);
    grid-template-rows: max-content max-content 1fr;
}

.navbar-wrapper, .menu-wrapper, .woman-page__hero, .woman-page__aside, .woman-page__main, .footer-wrapper {
    grid-column: 1 / 3;
    z-index: 1;
    width: 100%   
}

.navbar-wrapper, .menu-wrapper {
    grid-row: 1 / 4;
    z-index: 2;
    padding: 22px 20px 0 100px;  
}

.navbar-wrapper {
    height: 235px;
    padding: 38px 45px 0 38px;  
}

.woman-page__hero {
    grid-row: 1 / 2;
    height: 145px;
    padding-top: 27px;
    text-align: center; 
}

.woman-page__title {
    height: 59px;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    line-height: 100%;
}

.woman-page__aside {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    background-color: green;
}

.woman-page__main {
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
    z-index: 99;
    width: 100%;
    padding-right: 167px;
}

.product-cards-container {
    margin-right: 167px;
    display: flex;
    gap: 69px 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-height: 1600px;
    overflow: hidden;
}

.pagination {
    display: flex;
}

.footer-wrapper {
    grid-row: 3 / 4; 
    width: 100%;
    padding: 126px 18.75% 0 18.06%;
}